{% extends "base.html" %}

{% block title %}Upload | {{ block.super }}{% endblock %}

{% block head %}
{{ block.super }}
<style type="text/css">
#gmap-canvas {
  margin: 20px;
  width: 100%;
  max-width: 400px;
  height: 400px;
  display: none;
}
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
	{% if err %}
	<div class="row-fluid">
		<div class="alert alert-error span12">
			I'm terribly sorry, but the photo upload failed for some reason.
			Please retry.
		</div>
	</div>
	{% endif %}
	<div class="row-fluid">
		<div class="span8">
			<form action="#" method="post" enctype="multipart/form-data">
				<h1>Upload photo to gallery</h1>
				<span class="help-block">Super &lt;3</span>
				<div class="control-group well">
					<legend>Select photo</legend>
					<ul class="thumbnails"></ul>
					<div class="controls">
						<input type="file" name="file" id="file-select" accept="image/*" capture="camera">
					</div>
				</div>
				<div class="control-group well">
					<legend>Public information</legend>
					<span class="help-block">
						These will be shown in gallery alongside the photo.
						(Note: All the fields are optional.)
					</span>
					<div class="controls">
						<input type="text" name="datestamp" value="{{ request.REQUEST.datestamp }}" placeholder="Date, eg. “{{ now|date:"d M Y"|upper }}”" style="width: 240px;">
						<input type="text" name="location" value="{{ request.REQUEST.location }}" placeholder="Location, eg. “Berlin, Germany”" style="width: 320px;">
					</div>
					<div class="controls">
						<label class="checkbox">
							<input type="checkbox" name="gmap-location" value="true"{% if request.REQUEST.latlng %} checked="checked"{% endif %}>
							Include map location
						</label>
						<div id="gmap-canvas"></div>
						<input type="hidden" name="latlng" value="{{ request.REQUEST.latlng }}">
					</div>
					<div class="controls">
						<textarea rows="5" cols="80" name="notes" placeholder="Notes, message, or just something utterly random" class="span12">{{ request.REQUEST.notes }}</textarea>
					</div>
				</div>
				<div class="control-group well">
					<legend>Private information</legend>
					<span class="help-block">
						Here you can attach a private message to the photo. This
						will be seen only by me.
					</span>
					<div class="controls">
						<textarea rows="5" cols="80" name="message" placeholder="Message" class="span12">{{ request.REQUEST.message }}</textarea>
						<input type="text" name="email" value="{{ request.REQUEST.email }}" placeholder="Your email address" class="span6">
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary btn-large span4">Upload</button>
					<div class="alert alert-info span8">
						You will be able to update above information also after
						upload — or remove the whole photo altogether — if such
						a desire should arise.
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
/*global $, document, google, navigator, window */
var gmap = null;

function initializeGMap() {
	"use strict";
	/*jshint laxcomma:true */
	gmap = new google.maps.Map(document.getElementById("gmap-canvas"), {
			{% if request.REQUEST.latlng %}
			'center': new google.maps.LatLng({{ request.REQUEST.latlng }}),
			'zoom': 8,
			{% else %}
			'center': new google.maps.LatLng(11.673755, 102.219543),
			'zoom': 1,
			{% endif %}
			'mapTypeId': google.maps.MapTypeId.HYBRID,
			'panControl': false
		});

	var marker = new google.maps.Marker({
			'position': gmap.getCenter(),
			'map': gmap,
			'clickable': false
		});

	google.maps.event.addListener(gmap, 'center_changed', function () {
		marker.setPosition(gmap.getCenter());
	});

	{% if not request.REQUEST.latlng %}
	// Callbacks didn't seem to work on Firefox, so just adjusting map in case
	// Firefox sees it worthwile to invoke a callback.
	if (navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(function(pos) {
			gmap.setCenter(new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude));
			gmap.setZoom(8);
		});
	}
	{% endif %}
}

(function () {
	"use strict";
	/*jshint laxcomma:true */

	var $preview = $('form .thumbnails');

	function handleFileSelect(evt) {
		$preview.empty();
		$.each(evt.target.files, function (i, file) {
			if (!file.type.match('image.*')) {
				return;
			}
			var reader = new FileReader();
			reader.onload = (function(_file) {
				return function(e) {
					$preview.append(
						'<li class="span3"><div class="thumbnail">' +
						'<img src="' + e.target.result + '" ' +
						'title="' + window.escape(_file.name) + '">' +
						'</div></li>');
				};
			})(file);
			reader.readAsDataURL(file);
		});
	}

	if (typeof FileReader !== 'undefined') {
		document
			.getElementById('file-select')
			.addEventListener('change',
				function (evt) {
					try {
						handleFileSelect(evt);
					} catch (e) { }
				},
				false);
	}

	var $canvas = $('#gmap-canvas');

	$('input[name="gmap-location"]').change(function () {
		if ($(this).is(':checked')) {
			$canvas.css('display', 'block');
			if (!gmap) {
				var script = document.createElement("script");
				script.type = "text/javascript";
				script.src = "https://maps.googleapis.com/maps/api/js?key={{ settings.GOOGLE_API_KEY }}&sensor=true&callback=initializeGMap";
				document.body.appendChild(script);
			}
		} else {
			$canvas.css('display', 'none');
		}
	}).change();

	$('form').submit(function () {
		var postUrl = null;
		function fetchUrl() {
			$.ajax('{% url upload.url %}', {
				'async': false,
				'dataType': 'json',
				'success': function (data) {
					postUrl = data.url;
				},
				'error': fetchUrl
			});
		}
		fetchUrl();
		if (!postUrl) {
			window.alert(
				"I'm unbelievably sorry, but there seems to be some problems " +
				"with the photo uploading currently. I recommend retrying again later.");
			return false;
		}
		this.action = postUrl;
		if (gmap) {
			$('input[name="latlng"]').val(gmap.getCenter().toUrlValue());
		}
		return true;
	});
}());
</script>
{% endblock %}
