{% extends "base.html" %}

{% block title %}Gallery | {{ block.super }}{% endblock %}

{% block body %}
<div class="container-fluid">
	{% if thankyou %}
	<div class="row-fluid">
		<div class="alert alert-success">
			Photo received and added to <a href="{% url gallery.browse %}">gallery</a>.
			Thank you!
		</div>
	</div>
	{% endif %}

	{% if back %}
	<div class="row-fluid">
		<ul class="pager">
			<li class="previous">
				<a href="{{ back }}">&larr; Back</a>
			</li>
		</ul>
	</div>
	{% endif %}
	<div class="row-fluid">
		<p>Photo page.</p>
		{% if admin %}
		<p>Updates authorized.</p>
		{% endif %}
	</div>
</div>
{% endblock %}
