{% extends "base.html" %}{% load pore_tags entry_og %}

{% block title %}{{ entry|og_title }} | {{ block.super }}{% endblock %}

{% block opengraph %}
{{ block.super }}
<meta property="og:title" content="{{ entry|og_title }}" />
<meta property="og:type" content="object" />
<meta property="og:image" content="{{ entry|og_image }}" />
<meta property="og:url" content="{{ entry|og_url }}" />
{% endblock %}

{% block head %}
{{ block.super }}
<style type="text/css">
.field-label {
  display: block;
  font-style: italic;
  font-size: smaller;
  color: gray;
  margin: 24px 0 2px 0;
}
#gmap-canvas {
  width: 100%;
  height: 300px;
}
</style>
{% endblock %}

{% block body %}
<div id="fb-root"></div>
<div class="container-fluid">
	{% if thankyou %}
	<div class="row-fluid">
		<div class="alert alert-success">
			Photo received and added to <a href="{% url gallery.browse %}">gallery</a>.
			Thank you!
		</div>
	</div>
	{% endif %}

	<div class="row-fluid">
		<div class="span4" style="max-width: 400px;">
			<img src="{% url entry.photo entry.key.id,0,"-1200" %}">
		</div>
		<div class="span8">
			<div class="row-fluid">
				<div{% if entry.latlng %} class="span4"{% endif %}>
					{% if entry.datestamp %}
					<p>
						<span class="field-label">Date stamp</span>
						{{ entry.datestamp }}
					</p>
					{% endif %}
					{% if entry.location %}
					<p>
						<span class="field-label">Location</span>
						{{ entry.location }}
					</p>
					{% endif %}
					{% if entry.public_note %}
					<div>
						<span class="field-label">Note</span>
						<blockquote>{{ entry.public_note|linebreaksbr }}</blockquote>
					</div>
					{% endif %}
				</div>
				{% if entry.latlng %}
				<div class="span8">
					<div id="gmap-canvas"></div>
				</div>
				{% endif %}
			</div>
			<div class="row-fluid" style="margin-top: 30px;">
				<a href="#" class="share-sprite fb"></a>
				{# <a href="#" class="share-sprite pin"></a> #}
				{# <a href="#" class="share-sprite gplus"></a> #}
			</div>
		</div>
	</div>
	{% if admin %}
	<div class="row-fluid">
		<p>Updates authorized.</p>
	</div>
	{% endif %}
</div>
{% endblock %}

{% block js %}
{{ block.super }}
{% if entry.latlng %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ settings.GOOGLE_API_KEY }}&sensor=true" type="text/javascript"></script>
{% endif %}
<script type="text/javascript">
window.fbAsyncInit = function() {
	FB.init({
		'appId': {{ settings.FB.APP_ID|js }},
		'channelUrl': '{{ base_url }}/fb-channel.html',
		'status': false,
		'cookie': false,
		'xfbml': false,
		'logging': false
	});

	$('.share-sprite.fb').click(function() {
		FB.ui({
			'method': 'feed',
			'link': {{ entry|og_url|js }},
			'picture': {{ entry|og_image|js }},
			'name': {{ entry|og_title|js }}
		});
		return false;
	});
	$('.share-sprite.pin').click(function() {
		return false;
	})
	$('.share-sprite.gplus').click(function() {
		return false;
	})
};

$(function () {
	var js = document.createElement('script');
	js.async = true;
	js.src = "//connect.facebook.net/en_US/all.js";
	$('body').append(js);

	{% if entry.latlng %}
	var gmap = new google.maps.Map(document.getElementById('gmap-canvas'), {
			'center': new google.maps.LatLng({{ entry.latlng }}),
			'zoom': 8,
			'mapTypeId': google.maps.MapTypeId.HYBRID,
			'panControl': false
		});
	new google.maps.Marker({
			'position': gmap.getCenter(),
			'map': gmap,
			'clickable': false
		});
	{% endif %}
});
</script>
{% endblock %}
