{% extends "base.html" %}

{% block title %}About | {{ block.super }}{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="hero-unit" style="max-width: 700px;">
			<h1>Hi,</h1>
			<p>&nbsp;</p>
			<p>
				This is a little gallery I put up for those instant photos,
				which you may be lucky to already have one or a couple. :)
			</p>
			<p>
				You're heartily welcome to <a href="{% url upload %}">upload</a>
				yours — the effort will be much appreciated! You can also
				specify a location for the photo, and write a little note
				to go along with it.
			</p>
			<p>&nbsp;</p>
			<p>—Janne Savukoski</p>
		</div>
	</div>
</div>
{% endblock %}
