<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<title>{% block title %}Polaroid Registry{% endblock %}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{ MEDIA_URL }}css/repo{% if settings.IS_PROD %}.min{% endif %}.css" rel="stylesheet" type="text/css">
		<link href="{{ MEDIA_URL }}css/repo-responsive{% if settings.IS_PROD %}.min{% endif %}.css" rel="stylesheet" type="text/css">
		{% endblock %}
	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<div class="row-fluid">
						<div class="span12">
							<a href="http://janne.savukoski.name/" class="brand">Janne<br />Savukoski</a>
							<ul class="nav">
								<li><a href="{% url gallery.browse %}">Gallery</a></li>
								<li><a href="{% url upload %}">Upload</a></li>
								<li><a href="{% url about %}">About</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% block body %}{% endblock %}
		{% block js %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
		<script src="{{ MEDIA_URL }}js/repo{% if settings.IS_PROD %}.min{% endif %}.js" type="text/javascript"></script>
		{% endblock %}
	</body>
</html>