{% load pore_tags %}<!DOCTYPE html>
<html lang="en">
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# object: http://ogp.me/ns/object#">
		{% block head %}
		<title>{% block title %}Polaroid Registry{% endblock %}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block opengraph %}
		<meta property="og:site_name" content="Polaroid Registry" />
		<meta property="fb:app_id" content="{{ settings.FB.APP_ID }}" />
		{% endblock %}
		<link href="{{ MEDIA_URL }}css/pore{% if settings.IS_PROD %}.min{% endif %}.css" rel="stylesheet" type="text/css">
		<link href="{{ MEDIA_URL }}css/pore-responsive{% if settings.IS_PROD %}.min{% endif %}.css" rel="stylesheet" type="text/css">
		{% endblock %}
	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<div class="row-fluid">
						<div class="span12">
							<a href="http://janne.savukoski.name/" class="brand">Janne<br />Savukoski</a>
							<ul class="nav">
								<li><a href="{% url gallery.browse %}">Gallery</a></li>
								<li><a href="{% url upload %}">Upload</a></li>
								<li><a href="{% url about %}">About</a></li>
								{% if return_url %}
								<li><a href="{{ return_url }}">Return to {{ return_url|domain }}</a></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% block body %}{% endblock %}
		{% block js %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript">
		{# navigation handling #}
		$('.navbar .nav a[href="{{ request.path }}"]').parent().addClass('active');
		window.pore = {'env': {'GOOGLE_API_KEY': {{ settings.GOOGLE_API_KEY|js }}}};
		</script>
		<script src="{{ MEDIA_URL }}js/pore{% if settings.IS_PROD %}.min{% endif %}.js" type="text/javascript"></script>
		{% endblock %}
	</body>
</html>