body {
  letter-spacing: 2px;
  font-weight: bold;

  > .navbar .brand {
  	.pull-right;
    font-size: @baseFontSize * 0.5;
	line-height: @baseLineHeight * 0.5;
    text-align: right;
  }
}

.hero-unit { min-width: 5 * @baseLineHeight; }

textarea,
input[type="text"] {
  letter-spacing: 2px;
  font-weight: bold;
  border: none;
}
